
<div class="container">
  <div class="row">
    <div class="form-group">
      <div>
        <h1>Analytics</h1>
        <br/>
        <% @urls.each do |url| %>
          <h3><%=url.url%></h3>
          <h5><%=url.shorten_url%></h5>
          <p><b>Total clicks:</b> <%=url.clicked%> </p>
          <p><b>Top Countries:</b> <%=url.addresses&.pluck(:city)%> </p>
          <p><b>IP Addresses:</b> <%=url.addresses&.pluck(:ip_address)%> </p>
          <hr>
        <% end %>
      </div>
    <div>
  <div>
<div>